
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



.btn_bg {
  background-color: #00F7AE;
}

.user-details {
  background-color: #00F7AE;
}


.head_text {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
}

.welcome {
  background-color: #00F7AE;
}

.left-side {
  background-color: #00F7AE;
  height: 1215px;
  width: 100%;
}

/* .partner-brands {
  background-color: #00F7AE;
} */

.left-side-gra {
  background-color: #00F7AE;
  height: 720px;
}

.table-fot {
  font-size: 10px;
}

.download {
  background-color: #F5FFFC;
}

.btn-bg {
  background-color: #00F7AE;
}

.browser {
  background-color: #F5FFFC;
}

.dash_bg {
  background-color: #F5FFFC;
}

.overimg {
  margin-top: -80px;
}

.user_category {
  background-color: #00F7AE;
  height: 500px;
}

.trac_box {
  background-color: #00F7AE;
}

.tab-auto {
  overflow-x: hidden;
}